 <h1>Curso ENACOM Angular 13</h1>
<app-first-component></app-first-component>
<app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
<app-directives></app-directives>
<app-if-render></app-if-render>
<app-events></app-events>
<app-emitter></app-emitter>
 

<app-pipes></app-pipes>
<app-two-way-binding></app-two-way-binding>

<p>header</p>
<h1>Hello Word Angular</h1>
<nav>
    <a routerLink="">Home</a>
    <a routerLink="/list">Home</a>
</nav>
<router-outlet></router-outlet>
<app-list-render></app-list-render>

<p>footer</p>
 -->
 <app-change-number></app-change-number> 